includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - src/

    excludePaths:
        analyse:
            - src/zz

    # Level 9 is the strictest
    level: 2
